*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: '宋体';
}
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: cadetblue;
}
body{
    margin: auto;
    display: flex;
    flex-flow: column;
}